nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px grey;
}

p {
    padding: 0;
}

main {
    max-width: 850px;
}

aside {
    width: 800px;
    margin: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: steelblue;
    color: whitesmoke;
}

aside img {
    width: 200px;
    height: auto;
}

footer{
    margin-top: 50px;
    border-top: 10px solid #106EBE;
    text-align: center; 
}